$fontSize: 16px;
$inputBorder: 1px solid #dddfee;
$focusBorder: 2px solid $colorAccent;
$borderRadius: 8px;
$contentWidth: 90%;
$size: 3em;
$fieldSpacing: 1em;
$invalidColor: #f10ebc;
$validColor: #2cc7de;
@mixin input {
    border-radius: $borderRadius;
    font-size: $fontSize;
    padding: 0 1em;
    margin-top: $fieldSpacing;
    border: $inputBorder;
    width: $contentWidth;
    height: $size;
    &:focus {
        border: $focusBorder;
        outline: none;
    }
}

.password {
    @include input;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >input {
        height: 100%;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        border: none;
        font-size: inherit;
        &:focus {
            outline: none;
        }
    }
    >.eye {
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        @include center;
        &:hover {
            background-color: hsl(0, 0%, 80%);
        }
    }
    &:focus-within {
        border: $focusBorder;
    }
}

.password-messages {
    text-align: left;
    width: $contentWidth;
    margin: $fieldSpacing;
    padding-left: 1em;
    .valid {
        svg {
            color: $validColor;
        }
    }
    .invalid {
        color: $invalidColor;
    }
    >div {
        display: flex;
        align-items: center;
        svg {
            margin-right: 0.3em;
        }
    }
}