@import "./index.scss";
.password-messages {
    text-align: left;
    width: $contentWidth;
    margin: $fieldSpacing;
    padding-left: 1em;
    .valid {
        svg {
            fill: $validColor !important;
        }
    }
    .invalid {
        color: $invalidColor !important;
        svg path {
            fill: $invalidColor !important;
        }
    }
    >div {
        display: flex;
        align-items: center;
        svg {
            margin-right: 0.3em;
        }
    }
}