@import "./index.scss";
.password-messages {
    text-align: left;
    width: $contentWidth;
    margin: $fieldSpacing;
    padding-left: 1em;
    .valid {
        svg {
            color: $validColor;
        }
    }
    .invalid {
        color: $invalidColor;
    }
    >div {
        display: flex;
        align-items: center;
        svg {
            margin-right: 0.3em;
        }
    }
}